<main class="home-page">
  <div class="home zone">
    <p>Hey <%= @user['display_name'] %> 👋</p>

    <div class="buttons row">
      <form action="http://open.spotify.com/user/spotify/playlist/<%= @user['dw_dedupe_id'] %>">
        <button type="submit" class="button">Go to your DW Dedupe</button>
      </form>

      <form action="/logout">
        <button type="submit" class="button">Log Out</button>
      </form>
    </div>
  </div>

  <% if @latest_repeats.present? %>
    <div class="latest-repeats zone">
      <p>This Week's Repeats</p>

      <div class="song-grid">
        <% @latest_repeats.each do |repeat| %>
          <iframe
            src="https://open.spotify.com/embed/track/<%= repeat['id'] %>"
            width="300"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media">
          </iframe>
        <% end %>
      </div>
    </div>
  <% end %>
</main>
