<main class="home-page">
  <div class="home zone">
    <p>Hey <%= @user['display_name'] %> 👋</p>

    <div class="buttons row">
      <form action="http://open.spotify.com/user/spotify/playlist/<%= @user['dw_dedupe_id'] %>">
        <button type="submit" class="button">Go to your DW Dedupe</button>
      </form>

      <form action="/logout">
        <button type="submit" class="button">Log Out</button>
      </form>
    </div>
  </div>
</main>
