<main class="home-page page">
  <div class="page-content home zone">
    <p>Hey <%= @user['display_name'] %> 👋</p>

    <div class="buttons row">
      <a href="http://open.spotify.com/user/spotify/playlist/<%= @user['dw_dedupe_id'] %>" class="button" target="_blank">Go to your DW Dedupe</a>

      <a href="/history" class="button">All DW Dedupe history</a>

      <% if @user['latest_repeat_ids'].present? %>
        <a href="/latest" class="button"> <%= @user['latest_repeat_ids'].count %> filtered songs from your current DW Dedupe</a>
      <% else %>
        <a class="button disabled">No songs filtered this week</a>
      <% end %>

      <a href="/logout" class="button">Log Out</a>
    </div>
  </div>
</main>
