<main class="history-page page">
  <div class="page-content history">
    <p>This Week's Filtered Songs <a href="/">back</a></p>

    <div class="zone">
      <div class="song-grid">
        <% @latest.each do |track| %>
          <iframe
            src="https://open.spotify.com/embed/track/<%= track['id'] %>"
            width="300"
            height="80"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media">
          </iframe>
        <% end %>
      </div>
    </div>
  </div>
</main>
