
@import './scss/core';

.page {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .page-content {
    //width: fit-content;
    max-width: 80vw;

    > * {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.home {
  .buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    > * {
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.latest, .history {
  padding: 2em;

  .song-grid {
    max-height: 80vh;
    overflow: scroll;
  }
}

.error {
  .error-text {
    color: indianred;
  }
}

